/*
   Friday, December 28, 20128:25:39 PM
   User: 
   Server: BRYANPHAM-PC\SQLEXPRESS
   Database: BaoHienCompany
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.ProductAttribute.Id', N'Tmp_ProductId_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.ProductAttribute.Tmp_ProductId_1', N'ProductId', 'COLUMN' 
GO
ALTER TABLE dbo.ProductAttribute
	DROP CONSTRAINT PK_ProductAttribute
GO
ALTER TABLE dbo.ProductAttribute SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ProductAttribute', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ProductAttribute', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ProductAttribute', 'Object', 'CONTROL') as Contr_Per 