<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BaoHienDBEntities" connectionString="metadata=res://*/BaoHienADM.csdl|res://*/BaoHienADM.ssdl|res://*/BaoHienADM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BRYANPHAM-PC\sqlexpress;Initial Catalog=BaoHienCompany;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAL.Properties.Settings.BaoHienCompanyConnectionString"
      connectionString="Data Source=bryanpham-pc\sqlexpress;Initial Catalog=BaoHienCompany;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.BaoHienDBConnectionString"
      connectionString="Data Source=stephen\sqlexpress;Initial Catalog=BaoHienCompany;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.BaoHienDBConnectionString1"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=BaoHienDB;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.BaoHienCompanyConnectionString1"
      connectionString="Data Source=stephen\sqlexpress;Initial Catalog=BaoHienCompany;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>