<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--<appSettings>
    <add key="DBServerName" value="Localhost"></add>
    <add key="DatabaseName" value="TestDB"></add>
    <add key="DatabaseUserID" value="sa"></add>
    <add key="DatabasePwd" value="123456"></add>
  </appSettings>-->
  <connectionStrings>
    <add name="DAL.Properties.Settings.BaoHienCompanyConnectionString2"
      connectionString="Data Source=KHANGUYEN-PC\SQLEXPRESS;Initial Catalog=BaoHienCompany;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>