/****** Object:  ForeignKey [FK_Customer_Employee]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer] DROP CONSTRAINT [FK_Customer_Employee]
GO
/****** Object:  ForeignKey [FK_MaterialInStock_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MaterialInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[MaterialInStock]'))
ALTER TABLE [dbo].[MaterialInStock] DROP CONSTRAINT [FK_MaterialInStock_Product]
GO
/****** Object:  ForeignKey [FK_Order_Customer]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Customer]
GO
/****** Object:  ForeignKey [FK_Order_SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_SystemUser]
GO
/****** Object:  ForeignKey [FK_OrderDetail_BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK_OrderDetail_BaseAttribute]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Order]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Order]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK_OrderDetail_Order]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] DROP CONSTRAINT [FK_OrderDetail_Product]
GO
/****** Object:  ForeignKey [FK_Price_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Price_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[Price]'))
ALTER TABLE [dbo].[Price] DROP CONSTRAINT [FK_Price_Product]
GO
/****** Object:  ForeignKey [FK_Product_MeasurementUnit]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_MeasurementUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_MeasurementUnit]
GO
/****** Object:  ForeignKey [FK_Product_ProductType]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_ProductType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_ProductType]
GO
/****** Object:  ForeignKey [FK_ProductAttribute_Attribute]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Attribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute] DROP CONSTRAINT [FK_ProductAttribute_Attribute]
GO
/****** Object:  ForeignKey [FK_ProductAttribute_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute] DROP CONSTRAINT [FK_ProductAttribute_Product]
GO
/****** Object:  ForeignKey [FK_ProductInStock_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInStock]'))
ALTER TABLE [dbo].[ProductInStock] DROP CONSTRAINT [FK_ProductInStock_Product]
GO
/****** Object:  ForeignKey [FK_ProductionRequest_SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequest_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequest]'))
ALTER TABLE [dbo].[ProductionRequest] DROP CONSTRAINT [FK_ProductionRequest_SystemUser]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] DROP CONSTRAINT [FK_ProductionRequestDetail_BaseAttribute]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] DROP CONSTRAINT [FK_ProductionRequestDetail_Product]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_ProductionRequest]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_ProductionRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] DROP CONSTRAINT [FK_ProductionRequestDetail_ProductionRequest]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetail]') AND type in (N'U'))
DROP TABLE [dbo].[OrderDetail]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Price]') AND type in (N'U'))
DROP TABLE [dbo].[Price]
GO
/****** Object:  Table [dbo].[MaterialInStock]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaterialInStock]') AND type in (N'U'))
DROP TABLE [dbo].[MaterialInStock]
GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductAttribute]') AND type in (N'U'))
DROP TABLE [dbo].[ProductAttribute]
GO
/****** Object:  Table [dbo].[ProductInStock]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductInStock]') AND type in (N'U'))
DROP TABLE [dbo].[ProductInStock]
GO
/****** Object:  Table [dbo].[ProductionRequestDetail]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionRequestDetail]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[ProductionRequest]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionRequest]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionRequest]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BaseAttribute]') AND type in (N'U'))
DROP TABLE [dbo].[BaseAttribute]
GO
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasurementUnit]') AND type in (N'U'))
DROP TABLE [dbo].[MeasurementUnit]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductType]') AND type in (N'U'))
DROP TABLE [dbo].[ProductType]
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SystemUser]') AND type in (N'U'))
DROP TABLE [dbo].[SystemUser]
GO
/****** Object:  Default [DF_Customer_Status]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Customer_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Customer_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Customer] DROP CONSTRAINT [DF_Customer_Status]
END


End
GO
/****** Object:  Default [DF_Order_VAT]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Order_VAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Order_VAT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [DF_Order_VAT]
END


End
GO
/****** Object:  Default [DF_ProductionRequestDetail_Direction]    Script Date: 08/03/2012 00:59:39 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_ProductionRequestDetail_Direction]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ProductionRequestDetail_Direction]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ProductionRequestDetail] DROP CONSTRAINT [DF_ProductionRequestDetail_Direction]
END


End
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SystemUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SystemUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[password] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [tinyint] NULL,
	[Type] [smallint] NOT NULL,
	[FullName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[SystemUser] ON
INSERT [dbo].[SystemUser] ([Id], [username], [password], [Status], [Type], [FullName]) VALUES (1, N'bryanpham85', N'system123', 1, 1, N'Ph?m Ð?c Hùng')
INSERT [dbo].[SystemUser] ([Id], [username], [password], [Status], [Type], [FullName]) VALUES (2, N'bryanpham1', N'system123', 1, 2, N'Pham Duc Hung')
SET IDENTITY_INSERT [dbo].[SystemUser] OFF
/****** Object:  Table [dbo].[ProductType]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TypeCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON
INSERT [dbo].[ProductType] ([Id], [ProductName], [Description], [TypeCode], [Status]) VALUES (1, N'Decal 1', N'Something ', N'DC', NULL)
INSERT [dbo].[ProductType] ([Id], [ProductName], [Description], [TypeCode], [Status]) VALUES (3, N'Silicon', N'          ', N'SLC', NULL)
INSERT [dbo].[ProductType] ([Id], [ProductName], [Description], [TypeCode], [Status]) VALUES (4, N'Keo ky''', N'ban theo ky', N'SLCKg', NULL)
SET IDENTITY_INSERT [dbo].[ProductType] OFF
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasurementUnit]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasurementUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UnitCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_MeasurementUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[MeasurementUnit] ON
INSERT [dbo].[MeasurementUnit] ([Id], [Name], [Description], [UnitCode]) VALUES (1, N'Cu?n', N'', N'Cuon')
INSERT [dbo].[MeasurementUnit] ([Id], [Name], [Description], [UnitCode]) VALUES (2, N'Thanh', N'', N'Thanh')
INSERT [dbo].[MeasurementUnit] ([Id], [Name], [Description], [UnitCode]) VALUES (3, N'Kg', N'Kilogam', N'Kg')
SET IDENTITY_INSERT [dbo].[MeasurementUnit] OFF
/****** Object:  Table [dbo].[BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BaseAttribute]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BaseAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AttributeCode] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Attribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[BaseAttribute] ON
INSERT [dbo].[BaseAttribute] ([Id], [AttributeName], [Description], [AttributeCode]) VALUES (1, N'Dài', N'Chi?u dài cho phép', N'QCD')
INSERT [dbo].[BaseAttribute] ([Id], [AttributeName], [Description], [AttributeCode]) VALUES (2, N'20cmx600m', N'20cmx600m', N'20cmx600m')
INSERT [dbo].[BaseAttribute] ([Id], [AttributeName], [Description], [AttributeCode]) VALUES (3, N'55cmx800m', N'55cmx800m', N'55cmx800m')
SET IDENTITY_INSERT [dbo].[BaseAttribute] OFF
/****** Object:  Table [dbo].[Employee]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FullName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[NickName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MobilePhone] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Type] [smallint] NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [tinyint] NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
INSERT [dbo].[Employee] ([Id], [Code], [FullName], [NickName], [Address], [Phone], [MobilePhone], [Type], [Description], [Status], [Email]) VALUES (1, N'Sale001', N'Pham Duc Hung', N'Bryan', N'loremp ipsum', NULL, N'0909282105', 0, N'something', NULL, N'')
SET IDENTITY_INSERT [dbo].[Employee] OFF
/****** Object:  Table [dbo].[Customer]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CustCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Address] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Phone] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BankAcc] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BankName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactPerson] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactPersonPhone] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactPersonEmail] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Fax] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [tinyint] NULL,
	[SalerId] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([Id], [CustomerName], [CustCode], [Address], [Phone], [BankAcc], [BankName], [ContactPerson], [ContactPersonPhone], [ContactPersonEmail], [Email], [Fax], [Description], [Status], [SalerId]) VALUES (1, N'', N'', N'', N'', N'', N'', NULL, N'', N'', N'', N'', N'', NULL, NULL)
INSERT [dbo].[Customer] ([Id], [CustomerName], [CustCode], [Address], [Phone], [BankAcc], [BankName], [ContactPerson], [ContactPersonPhone], [ContactPersonEmail], [Email], [Fax], [Description], [Status], [SalerId]) VALUES (2, N'Nguyen Van A', N'123', N'address', N'123456', N'1323232', N'3132', NULL, N'Hung', N'duc', N'hungpham', N'12345678', N'2132', NULL, 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ProductName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BaseUnit] [int] NULL,
	[ProductType] [int] NOT NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Product', N'COLUMN',N'BaseUnit'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Don vi tinh co ban' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'BaseUnit'
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [ProductCode], [ProductName], [Description], [BaseUnit], [ProductType], [Status]) VALUES (1, N'', N'Decal Mau den', N'something', 1, 1, NULL)
INSERT [dbo].[Product] ([Id], [ProductCode], [ProductName], [Description], [BaseUnit], [ProductType], [Status]) VALUES (2, N'', N'Decal mau den', N'dfsafsfsafsdafs', 1, 1, NULL)
INSERT [dbo].[Product] ([Id], [ProductCode], [ProductName], [Description], [BaseUnit], [ProductType], [Status]) VALUES (3, N'', N'Trang Sua (caro) 60cm 200m', N'somehitn note', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[ProductionRequest]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionRequest]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductionRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReqCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[Status] [tinyint] NULL,
	[Note] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ProductionRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ProductionRequest] ON
INSERT [dbo].[ProductionRequest] ([Id], [ReqCode], [RequestedDate], [RequestedBy], [Status], [Note]) VALUES (6, N'', CAST(0x0000A09D01126865 AS DateTime), 1, NULL, N'Test san xuat 1')
SET IDENTITY_INSERT [dbo].[ProductionRequest] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CustId] [int] NOT NULL,
	[Total] [float] NOT NULL,
	[Note] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VAT] [float] NULL,
	[Discount] [float] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([Id], [OrderCode], [CreatedDate], [CreateBy], [CustId], [Total], [Note], [VAT], [Discount], [Status]) VALUES (1, N'', CAST(0x0000A09400205DE8 AS DateTime), 1, 1, 0, N'', 0, 0, 3)
INSERT [dbo].[Order] ([Id], [OrderCode], [CreatedDate], [CreateBy], [CustId], [Total], [Note], [VAT], [Discount], [Status]) VALUES (2, N'', CAST(0x0000A094002A82CA AS DateTime), 1, 2, 0, N'', 0, 0, 3)
INSERT [dbo].[Order] ([Id], [OrderCode], [CreatedDate], [CreateBy], [CustId], [Total], [Note], [VAT], [Discount], [Status]) VALUES (3, N'', CAST(0x0000A094002DC31C AS DateTime), 1, 2, 0, N'sfsfasfsdf', 600000, 100000, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[ProductionRequestDetail]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductionRequestDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[NumberUnit] [int] NOT NULL,
	[Origin] [smallint] NULL,
	[AttributeId] [int] NOT NULL,
	[Note] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductionRequestId] [int] NOT NULL,
	[Direction] [bit] NOT NULL,
 CONSTRAINT [PK_ProductionRequestDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ProductionRequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ProductionRequestDetail] ON
INSERT [dbo].[ProductionRequestDetail] ([Id], [ProductId], [NumberUnit], [Origin], [AttributeId], [Note], [ProductionRequestId], [Direction]) VALUES (14, 10, 4000, NULL, 2, N'g', 6, 1)
INSERT [dbo].[ProductionRequestDetail] ([Id], [ProductId], [NumberUnit], [Origin], [AttributeId], [Note], [ProductionRequestId], [Direction]) VALUES (15, 10, 4000, NULL, 2, N'g2', 6, 1)
INSERT [dbo].[ProductionRequestDetail] ([Id], [ProductId], [NumberUnit], [Origin], [AttributeId], [Note], [ProductionRequestId], [Direction]) VALUES (16, 9, 30000, NULL, 1, N'g3', 6, 1)
SET IDENTITY_INSERT [dbo].[ProductionRequestDetail] OFF
/****** Object:  Table [dbo].[ProductInStock]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductInStock]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductInStock](
	[Id] [int] NOT NULL,
	[NumberOfItem] [int] NOT NULL,
	[LatestUpdate] [datetime] NOT NULL,
	[Note] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ProductInStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[LatestUpdate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductAttribute]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductAttribute](
	[Id] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
 CONSTRAINT [PK_ProductAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[ProductAttribute] ([Id], [AttributeId]) VALUES (9, 1)
INSERT [dbo].[ProductAttribute] ([Id], [AttributeId]) VALUES (10, 2)
INSERT [dbo].[ProductAttribute] ([Id], [AttributeId]) VALUES (10, 3)
/****** Object:  Table [dbo].[MaterialInStock]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaterialInStock]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MaterialInStock](
	[Id] [int] NOT NULL,
	[NumberOfItem] [int] NOT NULL,
	[LatestUpdate] [datetime] NOT NULL,
	[Note] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_MaterialInStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[LatestUpdate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Price]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Price]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Price](
	[Id] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[UpdatedDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Price] ([Id], [Price], [UpdatedDate]) VALUES (2, 100, CAST(0x0000A08C000C6993 AS DateTime))
INSERT [dbo].[Price] ([Id], [Price], [UpdatedDate]) VALUES (3, 100, CAST(0x0000A08C00D0B8F5 AS DateTime))
INSERT [dbo].[Price] ([Id], [Price], [UpdatedDate]) VALUES (4, 0, CAST(0x0000A0910017A49C AS DateTime))
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 08/03/2012 00:59:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[NumberUnit] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Cost] [float] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[Note] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON
INSERT [dbo].[OrderDetail] ([Id], [ProductId], [NumberUnit], [Price], [Cost], [AttributeId], [Note], [OrderId]) VALUES (2, 10, 50000, 50000, 4, 2, N'fdfs', 3)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
/****** Object:  Default [DF_Customer_Status]    Script Date: 08/03/2012 00:59:39 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Customer_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Customer_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Status]  DEFAULT ((1)) FOR [Status]
END


End
GO
/****** Object:  Default [DF_Order_VAT]    Script Date: 08/03/2012 00:59:39 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Order_VAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Order_VAT]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_VAT]  DEFAULT ((0)) FOR [VAT]
END


End
GO
/****** Object:  Default [DF_ProductionRequestDetail_Direction]    Script Date: 08/03/2012 00:59:39 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_ProductionRequestDetail_Direction]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ProductionRequestDetail_Direction]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ProductionRequestDetail] ADD  CONSTRAINT [DF_ProductionRequestDetail_Direction]  DEFAULT ((0)) FOR [Direction]
END


End
GO
/****** Object:  ForeignKey [FK_Customer_Employee]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Employee] FOREIGN KEY([SalerId])
REFERENCES [dbo].[Employee] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_Employee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Employee]
GO
/****** Object:  ForeignKey [FK_MaterialInStock_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MaterialInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[MaterialInStock]'))
ALTER TABLE [dbo].[MaterialInStock]  WITH CHECK ADD  CONSTRAINT [FK_MaterialInStock_Product] FOREIGN KEY([Id])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MaterialInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[MaterialInStock]'))
ALTER TABLE [dbo].[MaterialInStock] CHECK CONSTRAINT [FK_MaterialInStock_Product]
GO
/****** Object:  ForeignKey [FK_Order_Customer]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustId])
REFERENCES [dbo].[Customer] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
/****** Object:  ForeignKey [FK_Order_SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_SystemUser] FOREIGN KEY([CreateBy])
REFERENCES [dbo].[SystemUser] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_SystemUser]
GO
/****** Object:  ForeignKey [FK_OrderDetail_BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_BaseAttribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[BaseAttribute] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_BaseAttribute]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Order]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Order]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Order]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
/****** Object:  ForeignKey [FK_OrderDetail_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderDetail]'))
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
/****** Object:  ForeignKey [FK_Price_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Price_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[Price]'))
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product] FOREIGN KEY([Id])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Price_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[Price]'))
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Product]
GO
/****** Object:  ForeignKey [FK_Product_MeasurementUnit]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_MeasurementUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_MeasurementUnit] FOREIGN KEY([BaseUnit])
REFERENCES [dbo].[MeasurementUnit] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_MeasurementUnit]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_MeasurementUnit]
GO
/****** Object:  ForeignKey [FK_Product_ProductType]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_ProductType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductType])
REFERENCES [dbo].[ProductType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_ProductType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
/****** Object:  ForeignKey [FK_ProductAttribute_Attribute]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Attribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_Attribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[BaseAttribute] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Attribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_Attribute]
GO
/****** Object:  ForeignKey [FK_ProductAttribute_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_Product] FOREIGN KEY([Id])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductAttribute_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductAttribute]'))
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_Product]
GO
/****** Object:  ForeignKey [FK_ProductInStock_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInStock]'))
ALTER TABLE [dbo].[ProductInStock]  WITH CHECK ADD  CONSTRAINT [FK_ProductInStock_Product] FOREIGN KEY([Id])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductInStock_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInStock]'))
ALTER TABLE [dbo].[ProductInStock] CHECK CONSTRAINT [FK_ProductInStock_Product]
GO
/****** Object:  ForeignKey [FK_ProductionRequest_SystemUser]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequest_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequest]'))
ALTER TABLE [dbo].[ProductionRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProductionRequest_SystemUser] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[SystemUser] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequest_SystemUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequest]'))
ALTER TABLE [dbo].[ProductionRequest] CHECK CONSTRAINT [FK_ProductionRequest_SystemUser]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_BaseAttribute]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductionRequestDetail_BaseAttribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[BaseAttribute] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_BaseAttribute]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] CHECK CONSTRAINT [FK_ProductionRequestDetail_BaseAttribute]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_Product]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductionRequestDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] CHECK CONSTRAINT [FK_ProductionRequestDetail_Product]
GO
/****** Object:  ForeignKey [FK_ProductionRequestDetail_ProductionRequest]    Script Date: 08/03/2012 00:59:39 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_ProductionRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductionRequestDetail_ProductionRequest] FOREIGN KEY([ProductionRequestId])
REFERENCES [dbo].[ProductionRequest] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductionRequestDetail_ProductionRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductionRequestDetail]'))
ALTER TABLE [dbo].[ProductionRequestDetail] CHECK CONSTRAINT [FK_ProductionRequestDetail_ProductionRequest]
GO
